@import "../_variables"
@import "../_mixins"


.home 
  &__presentation
    background-color: var(--lighter-background-color)
    @include display-row
    
    @include tablets-and-down
      @include display-col
      
    img 
      max-height: 400px
      max-width: 400px
      margin: 30px
      border-radius: 10px
    
  &__title
    color: var(--primary-color)
    margin: 20px 0
    font-family: var(--font-family-title)
    font-weight: bold

  &__help 
    a 
      @include base-button
    p 
      margin-bottom: 30px

  &__posts 
    background-color: var(--lighter-background-color)
    &--card
      max-width: 300px
      display: flex
      @include tablets-and-up
        @include display-col
      border: solid 1px var(--primary-color)
      padding: 10px 20px
      border-radius: 4px

      a
        text-decoration: none
        color: var(--text-color)

        &:hover 
          color: var(--primary-color)
  
  &__featured 
    a
      text-decoration: none
      color: var(--text-color)

      &:hover 
        color: var(--primary-color)

  &__explore 
    background-color: var(--lighter-background-color)
    @include display-row
    
    @include tablets-and-down
      @include display-col
    
    &--card 
      width: 200px
      margin: 25px 25px 25px 0px
      @include tablets-and-down
        width: 100%

      a 
        text-decoration: none
        color: var(--text-color)

        &:hover 
          color: var(--primary-color)

      h4
        font-family: var(--font-family-title)