@import "../_variables"
@import "../_mixins"

header
  margin: 10px
  border-radius: 10px
  background-color: var(--bg-transparence)
  padding: 15px 10%
  border: 1px solid var(--border-color)
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20)
  backdrop-filter: blur(15px)
  transition: 1s

  @include mobile-and-down
    padding: 20px 20px

  &:hover
    backdrop-filter: blur(5px)

.menu
  display: flex
  overflow: hidden
  justify-content: flex-end
  align-items: center
  font-weight: bold
  font-family: var(--font-family-title)
  @include container
  @include tablets-and-down
    display: none

  &__logo
    font-size: 20px
    margin-right: auto
    font-weight: bold
    color: var(--text-color)
    & img
      width: 50px

  &__item
    display: inline-block
    padding: 0 20px 0 0

    a
      color: var(--text-color)

      &:hover
        color: var(--primary-color)

.menu-mobile
  display: none
  height: max-content
  @include display-col
  text-align: center

  & ul
    margin-top: 40px

    & li, a
      color: var(--text-color)
      font-size: 14px
      font-weight: bold
      margin: 30px 0

      &.dark-mode-icon
        font-size: 30px

  &__logo
    img
      width: 40px
      height: 40px

  &__icon
    font-size: 30px
    display: flex
    justify-content: space-between
    align-items: center
    @include desktop-and-up
      display: none

    & i
      color: var(--primary-color)

.dark-mode-icon
  cursor: pointer
  font-size: 18px
