

$container-width: 900px

\:root
  --background-color: #f2f2f2
  --primary-color: #ec5688
  --bg-transparence: rgba(0,0,0,0)
  --lighter-primary-color: rgba(248, 7, 89, .5)
  --bg-dark: #18121E
  --bg-light: #ffff
  --bg-linear: linear-gradient(78deg ,#bc4e9c 17%,#f80759 100%)
  --border-color: #1c1c1c
  --text-color: #1c1c1c


.dark-mode:root
  --background-color: #1c1c1c
  --border-color: #ec5688
  --text-color: #fff
