
@import "components/footer"
@import "components/header"
@import "components/banner"
@import "components/form"
@import "components/lang-switcher"
@import "components/post-card"
@import "components/card"
@import "components/time-line"
@import "components/works"

@import "views/home"
@import "views/about"
@import "views/post"
@import "views/posts-list"
@import "views/spotify"

@import "_variables"
@import "_mixins"
@import "_syntax"

*
  padding: 0
  margin: 0
  bax-sizing: border-box

body 
  font-size: 16px
  color: var(--text-color)
  background-color: var(--background-color)
  font-family: var(--font-family-base)

  a 
    text-decoration: none

  ul 
    list-style: none

  p
    display: block
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px
    font-family: var(--font-family-base)
    font-weight: 400
    line-height: 1.612rem
    color: var(--text-color)

    & a 
      color: var(--primary-color)
      font-weight: bold

.base-title 
  font-size: 27px
  color: var(--primary-color)
  font-weight: 700
  margin-bottom: 30px
  font-family: var(--font-family-title)

.base-content
  & p 
    margin: 2% 0
  
.base-container
  @include container
  padding: 30px 0
  @include tablets-and-down
    width: 90%
    padding: 30px 15px

.display-none
  display: none

.invert-img-color
  -webkit-filter: var(--invert-img-color)
  filter: var(--invert-img-color)
